@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 450px;
        height: auto;
        // max-height: 796px;
        z-index: 100;
        overflow: auto;
        background-color: var(--header-color);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-dur-and-func),
            visibility var(--transition-dur-and-func);

        &__container {
            position: relative;
            padding-left: 40px;
            padding-top: 48px;
            padding-bottom: 48px;
            background-color: var(--header-color);
        }

        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        &__close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
        }

        &__link {
            display: block;
            margin-bottom: 32px;
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 1.18;
            letter-spacing: 0.02em;

            color: #212121;

            &:hover,
            &:focus {
                color: var(--accent-color);
            }

            &.current {
                color: var(--accent-color);
            }
        }

        &__contacts {
            position: relative;
            margin-top: 302px;
        }

        &__phone {
            display: block;
            margin-bottom: 32px;

            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 1.176;
            letter-spacing: 0.02em;
            color: var(--accent-color);
        }

        &__email {
            display: block;
            margin-bottom: 64px;
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.167;
            letter-spacing: 0.02em;
            color: #757575;
        }
    }

    .mobile-menu__close-icon:hover,
    .mobile-menu__close-icon:focus {
        fill: var(--accent-color);
    }

    .mobile-menu__social {
        display: flex;
        gap: 20px;
    }

    .mobile-menu__social-link {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: var(--accent-color);

        &.string::after {
            display: block;
            position: absolute;
            content: "";
            width: 22px;
            height: 0;
            left: 125px;
            top: 729px;

            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }

        &.line::after {
            display: block;
            position: absolute;
            content: "";
            width: 22px;
            height: 0;
            left: 203px;
            top: 729px;

            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }

        &.stroke::after {
            display: block;
            position: absolute;
            content: "";
            width: 22px;
            height: 0;
            left: 303px;
            top: 729px;

            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
